<div class="pl-15">
  <h1>My Albums</h1>
  <%= link_to 'New Album', new_album_path, class: 'btn btn-outline-secondary' %>
</div>

<div class="row">
  <% if @my_albums.present? %>
    <% @my_albums.each_with_index do |album, index| %>
      <div class="pl-15">
        <div class="col-4 mt-25">
          <div class="card">
            <div class="card-header ">
              Album: <%= index + 1 %>
            </div>
            <div class="card-body">
              <h5 class="card-title">Album Name: <%= album.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Owner Name: <%= album.owner.name %></h6>
              <%= link_to 'Show Album', album_path(album), class: 'card-link' %>
              <%= link_to 'Delete Album', album_path(album), method: :delete, class: 'card-link', data: {confirm: "Are you sure?"} %>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created at: <%= album.created_at.strftime("%d-%m-%Y") %> </small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-8 pl-15 mt-10">
      <div class="card">
        <div class="card-header ">
          Sorry you haven't added any Album, Please add New Album.
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= will_paginate @my_albums, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination justify-content-center mt-5' %>